doctype xml
entry(xmlns='http://www.w3.org/2005/Atom')
	title #{post.title}
	id #{host}api/atom/entries/#{post._id}
	updated #{post.date.toISOString()}
	author
		name #{post.author}
	content(type='html')  <![CDATA[ !{post.body} ]]>
	link(href='#{host}api/atom/entries/#{post._id}')
	link(rel='edit', href='#{host}api/atom/entries/#{post._id}')